@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

svg[width="auto"] {
  width: 100% !important;
  height: auto !important;
}